<!DOCTYPE html>
<html>
<head>	
</head>
<body>
	<% rows.forEach(function(coffee){ %>
 	<p><b>Name:</b><%= coffee.name %> <b>Address:</b><%= coffee.address %> <b>Number:</b><%= coffee.number %></p>
	<% }) %>
</body>
</html>