<div ng-controller="AddCoffeeController" class="animated fadeIn">
    <div class="text-center">
        <h1> Add Coffee </h1>
        <form name="createCoffee" novalidate class="form-signin" ng-submit="addCoffee()">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="col-sm-6">
                        <label for="coffeeName">Coffee Name</label>
                        <br>
                        <input type="text" name="coffeeName" placeholder="Name..." class="form-control" autofocus required ng-model="model.name">
                        <br>
                        <div class="text-danger" ng-show="createCoffee.coffeeName.$dirty && createCoffee.coffeeName.$error.required">
                            Name is required
                        </div>
                        <br>
                        <label for="coffeeAddress">Coffee Address</label>
                        <br>
                        <input type="text" name="coffeeAddress" placeholder="Address..." class="form-control" autofocus required ng-model="model.address">
                        <br>
                        <div class="text-danger" ng-show="createCoffee.coffeeAddress.$dirty && createCoffee.coffeeAddress.$error.required">
                            Address is required
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="coffeeNumber">Coffee Phone</label>
                        <br>
                        <input type="text" name="coffeeNumber" placeholder="Number..." class="form-control" autofocus required ng-model="model.number">
                        <br>
                        <div class="text-danger" ng-show="createCoffee.coffeeNumber.$dirty && createCoffee.coffeeNumber.$error.required">
                            Number is required
                        </div>
                        <br>
                        <label for="coffeeEmail">Coffee Email</label>
                        <br>
                        <input type="text" name="coffeeEmail" placeholder="Email..." class="form-control" autofocus required ng-model="model.email">
                        <br>
                        <div class="text-danger" ng-show="createCoffee.coffeeEmail.$dirty && createCoffee.coffeeEmail.$error.required">
                            Email is required
                        </div>
                    </div>
                    <label for="coffeeUrl">Coffee Img Url</label>
                    <br>
                    <input type="text" name="coffeeUrl" placeholder="Url..." class="form-control" autofocus required ng-model="model.img_url">
                    <br>
                    <label for="coffeeDescription">Coffee Description</label>
                    <br>
                    <textarea badwords type="text" name="coffeeDescription" placeholder="Description..." class="form-control" ng-model="model.description" rows="6"></textarea>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!createCoffee.$valid">Add Coffee</button>
                    <br>
                </div>
            </div>
        </form>
    </div>
</div>
