<div ng-controller="CoffeesController">
    <h1 align="center">COFFEEEEEEE</h1>
    <div class="jumbotron" ng-show="uiState=='blank'">
        <p class="lead">No coffees to show :(</p>
    </div>
    <div class="alert alert-danger" ng-show="uiState=='error'">
        Error while loading data
    </div>
    <div ng-include="'views/ProgressBar.html'" ng-show="uiState=='loading'"></div>
    <div class="table-responsive">
        <table class="table table-striped" ng-show="uiState!='blank'">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Number</th>
                    <th>Email</th>
                    <th>Rating</th>
                    <th>Views</th>
                    <th>Added</th>
                    <th>Url_img</th>
                    <th>User</th>
                    <th>
                        <input type="search" ng-model="query.name" placeholder="Search..." class="from-control">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in model | filter:query">
                    <td>
                        <b>{{::item.name}}</b>
                    </td>
                    <td>
                        {{::item.address}}
                    </td>
                    <td>
                        {{::item.number}}
                    </td>
                    <td>
                        {{::item.email}}
                    </td>
                    <td>
                        {{::item.rating}}
                    </td>
                    <td>
                        {{::item.views}}
                    </td>
                    <td>
                        {{::item.added}}
                    </td>
                    <td>
                        <img class="img-responsive" ng-src="{{::item.img_url}}" alt="{{::item.title}}'s poster" title="{{::item.title}}">
                    </td>
                    <td>
                        {{::item.user}}
                    </td>
                    <td>
                        <a href="#{{::getCoffeeDetail(item) }}" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> </a>
                        <a ng-click="favs(item)" class="btn btn-danger" ng-show="checkFav(item)==false"><span class="glyphicon glyphicon-heart"></span> </a>
                        <a ng-click="favs(item)" class="btn btn-warning"  ng-show="checkFav(item)==true"><span class="glyphicon glyphicon-remove"></span> </a>
                        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-map-marker"></span> </a>
                        <br>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
