<div class="row">
    <div class="col-xs-9">
        <h2>{{ model.name }}'s Coffee Shop</h2>
        <p>Name: {{ model.name }}</p>
        <p>Address: {{ model.address }}</p>
        <p>Number: {{ model.number }}</p>
        <p>Email: {{ model.email }}</p>
        <p>Views: {{ model.views }}</p>
        <p>Date: {{ model.added }}</p>
        <p>Description: {{ model.description }}</p>
    </div>
    <div class="col-xs-3" style="width: 300px;">
        <img src="{{ model.img_url}}" class="img_responsive" style="max-height: 100%;
  max-width: 100%;">
    </div>
</div>
