<div ng-controller="CoffeesController">
    <h1 align="center">COFFEEEEEEE</h1>
    <button ng-click="model=[]">Delete All</button>
    <div class="jumbotron" ng-show="uiState=='blank'">
        <p class="lead">No coffees to show :(</p>
    </div>
    <div class="alert alert-danger" ng-show="uiState=='error'">
        Error while loading data
    </div>
    <div ng-include="'views/ProgressBar.html'" ng-show="uiState=='loading'"></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Rating</th>
                <th>Views</th>
                <th>Added</th>
                <th>Url_img</th>
                <th>
                    <input type="search" ng-model="query.title" placeholder="Search..." class="from-control">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in model | filter:query">
                <td>
                    <b>{{::item.name}}</b>
                </td>
                <td>
                    {{::item.address}}
                </td>
                <td>
                    {{::item.email}}
                </td>
                <td>
                    {{::item.rating}}
                </td>
                <td>
                    {{::item.views}}
                </td>
                <td>
                    {{::item.added}}
                </td>
                <td>
                    <img ng-src="{{::item.poster_url}}" alt="{{::item.title}}'s poster" title="{{::item.title}}">
                </td>
                <td>
                    <a href="#{{::getCoffeeDetail(item) }}" class="btn btn-default">View</a>
                    <button ng-click="rentMovie({ stuff: item })" class="btn btn-default">Rent</button>
                    <br>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
</div>
